#streamlit
#torch
#transformers
langchain
chromadb
accelerate #?
#xformers
gradio #?
ipykernel #?
ipywidgets #?
#openai
tiktoken 
beautifulsoup4 #?
ibm-watson-machine-learning>=1.0.321 #(for langchain and llama2) 
sentence_transformers
datasets
#apache_beam
#multiprocess==0.70.15