langchain
chromadb
gradio #?
ipykernel #?
ipywidgets #?
tiktoken 
beautifulsoup4 #?
ibm-watson-machine-learning>=1.0.321 #(for langchain and llama2) 
sentence_transformers
/chroma_db_wiki_base/b4c64242-a620-4cc5-bc19-7c0b828df60d/